[submodule "KiCad-AppleII"]
	path = KiCad-AppleII
	url = https://github.com/markadev/KiCad-AppleII
[submodule "RP_Silicon_KiCad"]
	path = RP_Silicon_KiCad
	url = https://github.com/HeadBoffin/RP_Silicon_KiCad
[submodule "KiCad-RP-Pico"]
	path = KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
